:root {
    --color-base: lightyellow;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: grey;
    width: 200px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 3px;
    border: 10px darkorange solid;
    border-radius: 10px;
}

#display {
    resize: none;
    text-align: right;
    background: lightcyan;
    padding: 10px 20px;
    justify-content: space-around;
    font-family: monospace;
    font-size: 2em;
    border: 2px black solid;
    border-radius: 5px;
}

#display-container {
    grid-column: 1 / 5;
    grid-row: 1;
}

.calc-button {
    font-family: monospace;
    font-weight: 200;
    font-size: 16px;
    background: lightcyan;
    border: 2px darkslategray solid;
    border-radius: 2px;
}

#clear, #delete {
    font-size: 10px;
}

#equals {
    grid-column: 3 / 5;
}

.footer-div {
    position: relative;
    min-height: 100%;
    margin-bottom: -200px;
}

footer {
    position: relative;
    height: 130px;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-family: monospace;
    font-size: 20px;
    gap: 10px;
}

.github-icon {
    size: 10%;
}